* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dfdfc7;
    font-size: large;
}

.sec1 {
    display: none;
}

form {
    border: 2px solid black;
    max-height: 90vh;
    width: 40vw;
    margin: 100px auto;
    box-shadow: 2px 2px 3px 3px #adacac;
    background-color: #fff;
    border-radius: 13px;
    border: none;
    padding: 30px;
}

label {
    background-color: #fff;
    display: block;
}

input {
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
    border-radius: 7px;
    padding: 5px;
    border: 1px solid #dfdfc7;
}

button {
    padding: 8px;
    border-radius: 17px;
    background-color: #fff;
}

button:hover {
    background-color: #4f4a4a;
    color: #fff;
    border: none;
}



.texts,
.texts a,
h3 {
    text-align: center;
    font-size: x-small;
    background-color: #fff;
}

.error {
    background-color: #fff;
    color: #ff0000;
    font-size: xx-small;
    margin-bottom: 10px;
}



@media (max-width: 1246px) {
    input {
        margin-bottom: 10px;
    }

    form {
        padding: 10px;
        width: 70%;
    }
}
@media (max-width: 550px) {
    form{
        width: 85%;
        margin: 180px auto;
    }
}  

@media (max-width: 385px) {
    input {
        margin-bottom: 0px;
    }
}